@font-face {
	font-family: "DMSans";
	src: url("../assets/fonts/DMSans-VariableFont_opsz,wght.ttf")
		format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "DMSans";
	src: url("../assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf")
		format("truetype");
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}
